.gameCard {
    background-color: #f7f7f7;
    box-shadow: 2px 2px;
    border-radius: 5px;
    height: 200px;
    width: 500px;
    margin:auto;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .gameCardContainer {
    text-align: center;
  }

  .period {
    display: flex;
    justify-content: space-evenly;
  }

  .teamCard {
    margin-left: 2vh;
  }
  .team {
    display: flex;
    justify-content: center;
    align-items: center;
  }